doctype html
html
  head
    title Dancenia
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") Interests]
            li #[a(href="/") Blogs]
            li #[a(href="/signin") Sign In]
            li #[a(href="/contact") Sign Up]
            
    block content
    footer#footer
        | Copyright © 2020 Dancenia.com | All rights reserved